[MASTER]
jobs=2

[MESSAGES CONTROL]
disable=duplicate-code,
        invalid-name

[FORMAT]
max-line-length=88

[MISCELLANEOUS]
notes=BUG,UGLY # FIXME,TODO

[BASIC]
no-docstring-rgx=[(__.*__)(Type)]

[DESIGN]
max-args=8
max-attributes=10
min-public-methods=0
